<!DOCTYPE html>
<html lang="en">
<head>
    <title>Fort Benning MSSA Softball League</title>
	<meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/Content/mainStyle.css" />
</head>
<body>
    <div class="wrapper">
        <div class="callout">
            <p>Call us at <em>999-987-6543</em></p>
        </div>
    </div>
    <header>
        <!--add Logo/Link to Home -->

    </header>
    <nav>
        <ul>
            <li class='active'><a href="">Home</a></li>
            <li><a href="">Teams</a></li>
            <li><a href="">Players</a></li>
            <li><a href="">Schedule</a></li>
            <li><a href="">Contacts</a></li>
        </ul>
    </nav>
    <div class="banner">
        <br />
        <section class="left-col">
            <h2>Welcome to the Fort Benning MSSA Softball League</h2>
            <p>Blah blah blah</p>
            <p>More blah blah blah</p>
        </section>
    </div>
    <aside class ="sidebar">
        <div>
            <img src =""  alt="Empty"  title="Empty" />
            </div>
            </aside>
            <div class ="clearfix">
                </div>
                <h1 style ="font-size: 48px;">
                    MSSA</h1>
                    <div class ="section">
                        <h3>(Vacant)</h3>
                        <img src =""  alt="Empty"  title="Empty" />
                        <p>Blah</p>
                        </div>
                        <div class ="section">
                            <h3>(Vacant)</h3>
                            <img src =""  alt="Empty"  title="Empty" />
                            <p>Blah</p>
                            </div>
                            <div class ="section">
                                <h3>(Vacant)</h3>
                                <img src =""  alt="Empty"  title="Empty" />
                                <p>Blah.</p>
                                </div>
                                <div class ="clearfix">
                                    </div>
                                    <h6><a href ="#top">Back to the Top</a></h6>

                                    <footer>
                                        <small><i>Copyright &copy; 2016 Paw Pharm</i></small>
                                        <address><a href ="mailto:knobby88@gmail.com"  style="text-decoration: none;">FtBMSSA.com</a></address>
                                    </footer>
                                    </div>


</body>
</html>
