body {
    background: #6dc6f2;
    font-family: Verdana, Tahoma, Arial, sans-serif;
    font-size: 18px;
    overflow: auto;
}
h1, h2 {
    font-family: Chalkduster, Arial, sans-serif;
    text-align: center;
    color: #878E63;
}
h2, h3, h5, h6 {
    text-align: center;
    color: #878E63;
}
p {
    padding: 0.5% 2%;
    color: #878E63;
}
.para {
    color: #878E63;
    text-indent: 50px;
}
ol {
    color: #878E63;
    display: block;
    list-style-type: decimal;
    margin-top: 1em;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 125px;
}
#wrapper {
    margin: 0 auto;
    max-width: 1020px;
    width: 100%;
    background: #FEFBE8;
    border: 1px solid #878E63;
    border-radius: 2px;
    box-shadow: 0 0 10px 0px rgba(12, 3, 25, 0.8);
}
#callout {
    width: 100%;
    height: auto;
    background: #878E63;
    overflow: hidden;
}
#callout p {
    text-align: right;
    color: #F1F0D1;
    font-size: 13px;
    padding: 0.1% 5% 0 0;
}
#callout p a {
    color: #F1F0D1;
    text-decoration: none;
}
header {
    width: 96%;
    min-height: 125px;
    padding: 5px;
    text-align: center;
}
nav ul {
    list-style: none;
    margin: 0;
    padding-left: 93px;
}
nav ul li {
    float: left;
    border: 1px solid #878E63;
    width: 12.25%;
}
nav ul li a {
    background: #F1F0D1;
    display: block;
    padding: 5% 10%;
    font-weight: bold;
    font-size: 14px;
    color: #878E63;
    text-decoration: none;
    text-align: center;
}
nav ul li a:hover, nav ul li.active a {
    background-color: #878E63;
    color: #F1F0D1;
}
.banner {
    width: 100%;
    border-top: 1px solid #878E63;
}
.clearfix {
    clear: both;
}
.left-col {
    width: 55%;
    float: left;
    margin: -2% 1% 1% 1%;
}
.sidebar {
    width: 40%;
    float: right;
    margin: 1%;
    text-align: center;
}
.rescue {
    float: left;
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 1%;
}
.section {
    width: 29%;
    float: left;
    margin: 0% 2%;
    text-align: center;
}
.section2 {
    width: 46%;
    float: left;
    margin: 0% 2%;
    text-align: center;
}
footer {
    background: #878E63;
    width: 100%;
    overflow: hidden;
    text-align: center;
    font-size: 12px;
}
table, th, td {
    border: 1px solid gray;
    border-collapse: collapse;
    padding: 1em;
    text-align: left;
    color: #878E63;
}
table {
    margin: auto;
    width: 95%;
}
.td {
    width: auto;
}
.th {
    background-color: #878E63;
    text-align: center;
    color: #F1F0D1;;
}
ul li {
    text-align: left;
    color: #878E63;
}
dl {
    padding: 2em;
    color: #878E63;
}
dd {
    padding-bottom: 2em;
}
.cr-container{
	width: 600px;
	height: 400px;
	position: relative;
	margin: 0 auto;
	border: 20px solid #fff;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
}
.cr-container label{
	font-style: italic;
	width: 150px;
	height: 30px;
	cursor: pointer;
	color: #fff;
	line-height: 32px;
	font-size: 24px;
	float:left;
	position: relative;
	margin-top: 350px;
	z-index: 1000;
}
.cr-container label:before{
	content:'';
	width: 34px;
	height: 34px;
	background: rgba(130,195,217,0.9);
	position: absolute;
	left: 50%;
	margin-left: -17px;
	border-radius: 50%;
	box-shadow: 0px 0px 0px 4px rgba(255,255,255,0.3);
	z-index:-1;
}
.cr-container label:after{
	width: 1px;
	height: 400px;
	content: '';
	background: linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	position: absolute;
	bottom: -20px;
	right: 0px;
}
.cr-container label.cr-label-img-4:after{
	width: 0px;
}
.cr-container input{
	display: none;
}
.cr-container input.cr-selector-img-1:checked ~ label.cr-label-img-1,
.cr-container input.cr-selector-img-2:checked ~ label.cr-label-img-2,
.cr-container input.cr-selector-img-3:checked ~ label.cr-label-img-3,
.cr-container input.cr-selector-img-4:checked ~ label.cr-label-img-4{
	color: #68abc2;
}
.cr-container input.cr-selector-img-1:checked ~ label.cr-label-img-1:before,
.cr-container input.cr-selector-img-2:checked ~ label.cr-label-img-2:before,
.cr-container input.cr-selector-img-3:checked ~ label.cr-label-img-3:before,
.cr-container input.cr-selector-img-4:checked ~ label.cr-label-img-4:before{
	background: #fff;
	box-shadow: 0px 0px 0px 4px rgba(104,171,194,0.6);
}
.cr-bgimg{
	width: 600px;
	height: 400px;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1;
	background-repeat: no-repeat;
	background-position: 0 0;
}
.cr-bgimg div{
	width: 150px;
	height: 100%;
	position: relative;
	float: left;
	overflow: hidden;
	background-repeat: no-repeat;
}
.cr-bgimg div span{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: -150px;
	z-index: 2;
	text-indent: -9000px;
}
.cr-container input.cr-selector-img-1:checked ~ .cr-bgimg,
.cr-bgimg div span:nth-child(1){
	background-image: url(http://d2s0f1q6r2lxto.cloudfront.net/pub/ProTips/wp-content/uploads/2015/06/Softball-Glove1-300x200.jpg);
}
.cr-container input.cr-selector-img-2:checked ~ .cr-bgimg,
.cr-bgimg div span:nth-child(2){
	background-image: url(http://allaboutfastpitch.com/wp-content/uploads/2016/02/fastpitch-game.jpg);
}
.cr-container input.cr-selector-img-3:checked ~ .cr-bgimg,
.cr-bgimg div span:nth-child(3){
	background-image: url(http://protips.dickssportinggoods.com/wp-content/uploads/2015/06/Softball-Fielding-300x200.jpg);
}
.cr-container input.cr-selector-img-4:checked ~ .cr-bgimg,
.cr-bgimg div span:nth-child(4){
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2mk0tvdfYNVIUdikf1wEOBd9FN6f7Dxkm5hnHp6bFw7bxf8L6);
}
.cr-bgimg div:nth-child(1) span{
	background-position: 0px 0px;
}
.cr-bgimg div:nth-child(2) span{
	background-position: -150px 0px;
}
.cr-bgimg div:nth-child(3) span{
	background-position: -300px 0px;
}
.cr-bgimg div:nth-child(4) span{
	background-position: -450px 0px;
}
.cr-container input:checked ~ .cr-bgimg div span{
	animation: slideOut 0.6s ease-in-out;
}
@keyframes slideOut{
	0%{
		left: 0px;
	}
	100%{
		left: 150px;
	}
}
.cr-container input.cr-selector-img-1:checked ~ .cr-bgimg div span:nth-child(1),
.cr-container input.cr-selector-img-2:checked ~ .cr-bgimg div span:nth-child(2),
.cr-container input.cr-selector-img-3:checked ~ .cr-bgimg div span:nth-child(3),
.cr-container input.cr-selector-img-4:checked ~ .cr-bgimg div span:nth-child(4)
{
	transition: left 0.5s ease-in-out;
	animation: none;
	left: 0px;
	z-index: 10;
}
.cr-titles h3{
	position: absolute;
	width: 100%;
	text-align: center;
	top: 50%;
	z-index: 10000;
	opacity: 0;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	transition: opacity 0.8s ease-in-out;
}
.cr-titles h3 span:nth-child(1){
	font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
	font-size: 70px;
	display: block;
	letter-spacing: 7px;
}
.cr-titles h3 span:nth-child(2){
	letter-spacing: 0px;
	display: block;
	background: rgba(104,171,194,0.9);
	font-size: 14px;
	padding: 10px;
	font-style: italic;
	font-family: Cambria, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
}
.cr-container input.cr-selector-img-1:checked ~ .cr-titles h3:nth-child(1),
.cr-container input.cr-selector-img-2:checked ~ .cr-titles h3:nth-child(2),
.cr-container input.cr-selector-img-3:checked ~ .cr-titles h3:nth-child(3),
.cr-container input.cr-selector-img-4:checked ~ .cr-titles h3:nth-child(4){
	opacity: 1;
}
@media screen and (max-width: 768px) {
	.cr-container input{
		display: inline;
		width: 24%;
		margin-top: 350px;
		z-index: 1000;
		position: relative;
	}
	.cr-container label{
		display: none;
	}
}